<header>
    <!-- FOR MORE SPEED -->
    <!--<video loop muted autoplay class="fullscreen-bg__video">-->
    <!--    <source src="<%= asset_path "bg.mp4" %>" type="video/mp4">-->
    <!--</video>-->
    
    <div class="context">
        <h1 class="title">Projete em seu holograma</h1>    
        <p>Aqui você encontrará imagens e vídeos para seu holograma em vidro, além de criar expor sua própria galeria compartilhada.
        </p>
    </div>
    
    <%= form_sign_up %>
</header>

<div class="features">
    <h4>
        Totalmente gratuito para todos!
    </h4>
    
    <p>
        Todos os serviços oferecidos pelo site são completamente gratuitos. Cadastre-se e desfrute da galeria de imagens e vídeos e compartilhe suas ideias com todos.
    </p>
</div>

<div class="about">
    <h2 class="title">
        Sejam bem vindos!
    </h2>
    
    <p>
        O Site Holograma em vidro permite você postar seus vídeos e imagens para compartilhamento entre outros usuários ou apenas guardá-los para si próprio, mantendo seu entretenimento e privacidade ao máximo.
    </p>
</div>

<div class="services">
    <div>
        <%= image_tag "share-icon.png"%>
        <h5>Compartilhe com todos</h5>
        
        <p>
            Faça o upload de suas imagens e vídeos para que todos possam vê-los, e visualize em tempo real novas postagens pelo seu Feed de notícias.
        </p>
    </div>
    <div class="mid-panel-cl">
        <%= image_tag "locked-icon.png"%>
        <h5>Tenha privacidade</h5>
        
        <p>
            A opção “somente eu” servirá para você publicar suas imagens em modo privado, podendo deixá-las apenas a sua disposição.
        </p>
    </div>
    <div class="mid-panel-cr mid-panel-cl">
        <%= image_tag "gallery-icon.png"%>
        <h5>Galeria completa</h5>
        
        <p>
            Faça sua pró pia galeria de imagens fazendo upload de suas pró pias imagens ou favoritando imagens de outros usuários.
        </p>
    </div>
    <div>
        <%= image_tag "coin-icon.png"%>
        <h5>Sistema de moedas</h5>
        
        <p>
            Fique virtualmente rico dentro do sistema de moedas, onde imagens não são apenas imagens, e seu trabalho é valorizado.
        </p>
    </div>
</div>
<h2 class="peoples-use title">Quem usa holografia?</h2><br>
<div class="users">
    
    <div>
        <h4 class="border-blue">Pessoas fisicas ></h4>
        <p>
            Crie seus projetos, imagens e vídeos para uso somente pessoal ou compartilhe com todos os usuários do Holograma em vidro.
        </p>
    </div>
    <div>
        <h4 class="border-red">Professores | Palestrantes ></h4>
        <p>
            Apresente de forma diferente alguns conteúdos para seus alunos, fazendo terem uma sensação de vídeo em 3D, apresentando trabalhos e fazendo atividades baseadas em suas criatividades.
        </p>
    </div>
    <div>
        <h4 class="border-gray">Empresários ></h4>
        <p>
            Divulgue suas criações pelo Holograma em vidro, grandes empresas estão investindo nesta idéia, use e abuse do projeto para mais conhecimento sobre o Holograma em vidro e tenha inspiração para seus projetos.
        </p>
    </div>
</div>

<div class="company">
    <div>
        <%= image_tag "demo.jpg" %>    
    </div>
    
    <div><br>
        <h4>
            Holograma em vidro já foi usado por grandes empresas como a Samsung e a Coca-cola.
        </h4>    
    </div>
    
</div>